@font-face {
    font-family: 'rajdhani';
    src: url('./fonts/rajdhani-Bold.woff2') format('woff2'),
        url('./fonts/rajdhani-Bold.woff') format('woff'),
        url('./fonts/rajdhani-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  @font-face {
    font-family: 'rajdhani';
    src: url('./fonts/rajdhani-SemiBold.woff2') format('woff2'),
        url('./fonts/rajdhani-SemiBold.woff') format('woff'),
        url('./fonts/rajdhani-SemiBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  h2 {
    display: inline-block;
    font-family: "rajdhani", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #ffffff;
    font-size: 58px;
    line-height: 50px;
    margin: 0;
    padding: 0;
  }
  @media screen and (max-width: 1300px) {
    h2 {
      font-size: 48px;
      line-height: 40px;
    }
  }
  @media screen and (min-width: 580px) and (max-width: 800px) {
    h2 {
      font-size: 48px;
      line-height: 40px;
    }
  }
/* Contact Form Start  */
.form-frame {
    border-width: 0 !important;
    height: 100vh;
  }
  .contact-form {
    position: absolute;
    left: auto;
    right: 20%;
    top: 24vh;
  }
  @media screen and (max-width: 1366px) {
    .contact-form {
      position: absolute;
      left: auto;
      right: 10%;
      top: 20vh;
    }
  }
  .ms-contact {
    width: 595px;
  }
  .ms-contact .form-control {
    background: none;
    border: 1px solid #48484e;
    height: 53px;
    border-radius: 4px;
    padding: 12px 20px;
    color: #fff;
    font-size: 18px;
    width: 43%;
    letter-spacing: 2px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  @media screen and (max-width: 1366px) {
    .ms-contact .form-control {
      background: none;
      border: 1px solid #48484e;
      height: 53px;
      border-radius: 4px;
      padding: 12px 20px;
      color: #fff;
      font-size: 18px;
      letter-spacing: 2px;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
  }
  .segment {
    margin-bottom: 5%;
  }
  .name {
    width: 100%;
    margin-bottom: 5%;
  }
  .second-line {
    display: flex;
    margin-bottom: 5%;
  }

  .how-find {
    width: 100%;
    margin-left: 23%;
  }
  .text-area {
    width: 100%;
    height: auto !important;
  }
  .describe-check {
    padding-top: 25px;
    display: flex;
  }
  .describe-check label {
    margin-right: 20px;
    font-weight: normal;
    font-size: 15px;
    display: inline-block;
    position: relative;
  }
  .describe-check label input {
    margin-left: 10px;
    opacity: 1;
    background-color: black;
    position: relative;
    z-index: 3;
  }
  .checkboxs {
    width: 66.66666666666666%;
    padding-top: 14px;
  }
  .btn-contact {
    width: 33.333333%;
  }
  .ms-contact .btn-ms {
    display: block;
    background: #a4d1ec;
    font-size: 25px;
    color: #3f3c3c;
    border-radius: 10px;
    height: 57px;
    border: 0;
    width: 100%;
    padding: 0.5em 2em 0.5em 2em;
    letter-spacing: 5px;
    font-family: "sf_compact_displayregular", Arial, Helvetica, sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  input[type="radio"],
  input[type="checkbox"] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .input-group label {
    margin: 0;
    flex: 1;
  }
  
  .tag-line {
    display: block;
    font-size: 14px;
    letter-spacing: 7px;
    font-weight: normal;
    margin-bottom: 75px;
    font-family: "sf_compact_displaythin", Arial, Helvetica, sans-serif;
  }
  .ms-contact {
    width: 595px;
  }
  form {
    display: block;
    margin-top: 0em;
  }
  .ms-contact .form-group {
    margin-bottom: 26px;
  }
  .form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
  }
  .form-group {
    margin-bottom: 15px;
    width: 110%;
  }
  .col-sm-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
  @media (min-width: 768px) {
    .col-sm-12 {
      width: 100%;
    }
  }
  
  /* Contact Form End  */

  .contact-left-head {
    position: absolute;
    top: 24vh;
    left: 9.9%;
  }
  @media screen and (max-width: 1366px) {
    .contact-left-head {
      position: absolute;
      top: 20vh;
      left: 9.9%;
    }
  }
  .contact-p {
    position: absolute;
    left: 10%;
    top: 31.5vh;
  }
  @media screen and (max-width: 1366px) {
    .contact-p {
      position: absolute;
      left: 10%;
      top: 34.5vh;
    }
  }
  .contact-des {
    position: absolute;
    left: 10%;
    top: 34vh;
    text-transform: none !important;
  }
  @media screen and (max-width: 1366px) {
    .contact-des {
      position: absolute;
      left: 10%;
      top: 38vh;
      text-transform: none !important;
    }
  }
  .contact-us-left-head {
    position: absolute;
    top: 64vh;
    left: 10%;
  }
  @media screen and (max-width: 1366px) {
    .contact-us-left-head {
      position: absolute;
      top: 64vh;
      left: 10%;
    }
  }
  .contact-us-des {
    position: absolute;
    top: 66vh;
    left: 10%;
  }
  @media screen and (max-width: 1366px) {
    .contact-us-des {
      position: absolute;
      top: 69vh;
      left: 10%;
    }
  }
  .mht-position {
    position: absolute;
    top: 15vh;
    right: 20%;
    left: 65%;
  }
  @media screen and (max-width: 1366px) {
    .mht-position {
      position: absolute;
      top: 18vh;
      right: 20%;
      left: 65%;
    }
  }
  .contact-header-title {
    position: absolute;
    left: 65%;
    max-width: 35%;
    top: 21vh;
    color: #fff;
  }